@font-face{
	font-family: "NewsGoth";
	src: url('../fonts/tt0049m_.ttf'),
    url('../fonts/tt0049m_.ttf'); /* IE9 */
}
@font-face{
	font-family: "verdana";
	src: url('../fonts/verdana.ttf'),
    url('../fonts/verdana.ttf'); /* IE9 */
}
body{
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position:center bottom;	
	background-attachment: fixed;
	background-repeat: repeat-x;
	font-size: 18px;
}
img{
	outline: none;
	border: none;
}
a{
	text-decoration: none;
	color: inherit;
}
main div:first-child img{
	width: 100%;
}
main div:last-child img{
	width: 100%;
}
/*#right{background-color: pink;}*/
#right h2{
	text-align: justify;
	font-family: NewsGoth;
	color: #009DE6 !important;
}
#right p{
	font-family: "verdana";
	text-align:justify;
	color: #0583BD !important;
	padding: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#right form{
	padding-left: 20px;
}
#right label{
	color: gray;
}
#right form{
	padding-left: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#right fieldset{
	border:none;
	margin-top: 10px;
	padding: 0px;
}
#right input[type='text'],#right input[type='email']{
	border: 1px solid hsl(127, 76%, 45%);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	outline: none;
	width: 60%;
}
#right input[type='submit']{
	border: 1px solid hsl(127, 76%, 45%);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: hsl(127, 76%, 45%);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	outline: none;
	color:white;

}

/*C L A S E S  ---------------------------

*/

.join{
	display: block !important;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}












@media screen  and (min-width: 800px){
	main div:first-child{
		margin:0 auto;
		width: 618px;
		height: 217px;
	}
	main div:last-child{
		margin:0 auto;
		width: 300px;
		height: 150px;
	}
	#content{
		width: 90%;
		margin: 0 auto;
		display: none;
	}

	#left,#right{
		width: 48%;
		display: inline-block;
		vertical-align: top;
		padding: 15px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		max-width: 600px;
	}
	#left iframe{
		margin-top: 100px;
	}

}